@import url('./style/imports.css');
@import './style/classes.css';

body {
  margin: 0;
  font-family: 'Laila', sans-serif;
}

*:not(#spec-select *) {
  scrollbar-width: none;
}

*::-webkit-scrollbar:not(#spec-select *) {
  display: none;
}
